body{
    background-color: #f2f2f2;
    /* hwb(51 66% 0%) */
    font-family: Arial, sans-serif;
    margin: 0;
}
.login-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
}
.top-header{
    display: flex;
    align-items: center;
    height: 90px;
}
.logo{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 100%;
    height: 90px;
}
.title{
    flex:3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title h1{
    font-size: 36px;
    color:white;
}

header{
    background-color: #c76060;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bottom-header{
    background-color: #b84d4d;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
}
nav a:hover{
    color:#ffe082;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 12px 20px;
}
nav a.active{
    color: #ffe082;
}





form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login-container{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width:100%;
    max-width: 400px;
}
h2{
    text-align: center;
    color: #333333;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
}
input[type="text"], input[type="password"], input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}   
footer{
    text-align: center;
    padding: 20px;
}
button{
    background-color: #c76060;
    width:100%;
    padding:15px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    font-size: 100%;
}
.about-blocks{
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.about-headings{
    color: #c76060;
    font-size: 24px;
    margin-bottom: 10px;
    justify-self: center ;
}
.about-content{
    font-size: 16px;
    color: #333333;
    line-height: 1.6;
    text-align: center;
}
.registration-container{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width:100%;
    max-width: 400px;
}  
.registration-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
} 
.registration_buttons{
    display: flex;
    gap: 10px;
}
h3{
    color: #4b4b4b;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
}
.contact-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.contact-container{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width:100%;
    max-width: 400px;
}
.contact-divs{
    display: flex;
    gap: 10px;
}
textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
.faq-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.faq-container{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width:100%;
    max-width: 400px;
}
.feedback-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.feedback-container{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width:100%;
    max-width: 400px;
}
.events-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.events-divs{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding:15px;
    margin:10px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:5px;
}
.p-button-push{
    flex-grow: 1;
}